
DetailedOperatorServicesCore/bin/Debug/DetailedOperatorServicesCore.dll
DetailedOperatorServicesCore/bin/Debug/DetailedOperatorServicesCore.pdb
DetailedOperatorServicesCore/obj/Debug/DetailedOperatorServicesCore.dll
DetailedOperatorServicesCore/obj/Debug/DetailedOperatorServicesCore.pdb
